@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  margin: 0;
  background-color: #a3a1a8;
}

.container {
  width: 800px;
  height: 580px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #ff665a;
  border-radius: 20px;
}

.container .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
}

.container .cols .col1, .container .cols .col2 {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  background-color: #ff8c64;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .cols .col1 .big, .container .cols .col2 .big {
  margin-top: 60px;
  width: 180px;
  height: 180px;
  opacity: 0;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.container .cols .col1 h3, .container .cols .col2 h3 {
  font-family: "Staatliches", cursive;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
}

.container .cols .col1 .smaller, .container .cols .col2 .smaller {
  margin: 0;
  margin-top: 18px;
  font-size: 20px;
}

.container .cols .col1 button, .container .cols .col2 button {
  margin-top: 28px;
  margin: 28px 10px 0 10px;
  border-radius: 10px;
  width: 80px;
  height: 50px;
  border: 3px solid #7d6b7d;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #ff665a;
}

.container .cols .col1 button:hover, .container .cols .col2 button:hover {
  background-color: #ff655a00;
}

.container .cols .col2 {
  background-color: #fff587;
}

.container .cols .col2 button {
  background-color: #fff587;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.container .cols .col2 .selected {
  background-color: #7d6b7d;
}

.container .start {
  margin: 0 auto;
  margin-top: -15px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  border: 3px solid #7d6b7d;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  background-color: #ff665a;
}

.container .start:hover {
  background-color: #ff655a00;
}

.container .start h3 {
  margin: 0;
  font-family: "Staatliches", cursive;
  font-size: 24px;
}

.container .threecols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.container .col11,
.container .col12,
.container .col13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -ms-flex-item-align: center;
      align-self: center;
}

.container .col13 h3,
.container .col11 h3 {
  padding-left: 50px;
  margin: 0;
  font-family: "Staatliches", cursive;
  font-size: 20px;
}

.container .col13 input,
.container .col11 input {
  width: 80px;
  border: 2px solid #7d6b7d;
  margin-left: 10px;
  font-family: "Staatliches", cursive;
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
}

@media screen and (max-width: 1640px) {
  .container .cols .col1 button, .container .cols .col2 button {
    width: 60px;
  }
}

@media screen and (max-width: 1110px) {
  .container .cols .col1 button, .container .cols .col2 button {
    width: 60px;
  }
  .choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .cols .col1 button, .container .cols .col2 button {
    margin-bottom: 2px;
    margin-top: 12px;
  }
  .container .cols .col1 .big, .container .cols .col2 .big,
  .container .cols .col2 .big {
    width: 120px;
    height: 120px;
  }
  .container {
    width: 800px;
    height: 650px;
    margin-top: 30px;
  }
  .container .cols .col1, .container .cols .col2,
  .container .cols .col2 {
    height: 500px;
  }
  .threecols {
    padding-top: 80px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 0;
    width: 100vw;
    height: 760px;
  }
  .container .threecols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
  }
  .container .col13 h3,
  .container .col11 h3 {
    padding-left: 0px;
    margin: none;
    margin-bottom: 10px;
  }
  .container .threecols > * {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */